/* Variables */
/* line 9, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
::-webkit-input-placeholder {
  font-style: italic; }

/* line 12, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
:-moz-placeholder {
  font-style: italic; }

/* line 15, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
::-moz-placeholder {
  font-style: italic; }

/* line 18, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
:-ms-input-placeholder {
  font-style: italic; }

/* Type Faces */
@font-face {
  font-family: denseregular;
  src: url("../font/Dense-Regular.otf"); }

/* line 27, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
body {
  height: 100%; }

/* line 30, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
#main-nav {
  height: 120px;
  background-color: #FFFFFF;
  align-items: bottom;
  padding-left: 7px;
  padding-right: 7px; }
  /* line 36, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-nav #logo {
    height: 115px;
    padding-top: 30px;
    vertical-align: bottom; }

/* line 43, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
#main-view {
  font-family: denseregular;
  background-color: #E7E7E7;
  height: 100%; }
  /* line 47, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view div {
    padding: 0; }
  /* line 50, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view h1 {
    font-family: denseregular;
    font-size: 60px;
    margin: 0;
    color: #848282; }
  /* line 56, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view h2 {
    font-family: denseregular;
    font-size: 40px;
    margin: 0;
    color: #848282; }
  /* line 62, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view p {
    font-family: denseregular;
    font-size: 20px;
    color: #848282; }
  /* line 70, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #section-2 {
    margin-bottom: 20px;
    height: 100%; }
    /* line 73, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #section-2 #shop-img {
      width: 100%;
      height: auto;
      margin-bottom: 10px; }
    /* line 78, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #section-2 .tab-pane {
      overflow-y: auto;
      height: 459px;
      margin-left: 10px;
      background-color: #FFFFFF;
      box-shadow: 0 0 1px black;
      border-radius: 0;
      text-align: center;
      padding: 10px; }
      /* line 87, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #main-view #section-2 .tab-pane p {
        text-align: left;
        font-size: 26px; }
        /* line 90, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
        #main-view #section-2 .tab-pane p:last-child {
          margin-bottom: 0; }
    /* line 95, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #section-2 .nav-tabs.nav {
      margin-left: 9px; }
      /* line 97, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #main-view #section-2 .nav-tabs.nav li.active > a:link {
        border-radius: 0;
        border-left: 1px solid #848282;
        border-top: 1px solid #848282;
        border-right: 1px solid #848282;
        color: #848282; }
      /* line 104, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #main-view #section-2 .nav-tabs.nav li {
        font-size: 30px; }
      /* line 107, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #main-view #section-2 .nav-tabs.nav li a {
        color: #FFFFFF;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px; }
  /* line 116, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #section-3 {
    margin-bottom: 50px; }
    /* line 118, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #section-3 input, #main-view #section-3 select {
      width: 180px;
      height: 50px;
      border: none;
      padding-left: 5px;
      font-family: denseregular;
      font-size: 30px;
      color: #848282;
      border-radius: 0 !important; }
    /* line 129, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #section-3 button {
      margin-top: 44px; }

/* line 136, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
.button {
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  border: none;
  font-size: 33px;
  height: 50px;
  width: 180px; }
  /* line 144, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  .button[disabled] {
    opacity: 0.5 !important; }
  /* line 147, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  .button.book {
    background-color: #55BEB9;
    color: #FFFFFF; }
  /* line 151, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  .button.book:hover {
    opacity: 0.7; }
  /* line 154, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  .button.find {
    background-color: #55BEB9;
    color: black; }
  /* line 158, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  .button.find:hover {
    opacity: 0.7; }

/* line 162, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
.form-control {
  border-radius: 0 !important; }

/* line 165, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
.modal-content {
  border-radius: 0;
  background-color: #FFFFFF; }

/* line 169, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
#booking-modal {
  font-family: denseregular;
  padding: 10px;
  text-align: center; }
  /* line 173, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal h1 {
    font-family: denseregular;
    font-size: 80px;
    margin: 0;
    margin-left: 15px;
    color: #55BEB9;
    text-align: left; }
  /* line 181, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal h2 {
    font-family: denseregular;
    font-size: 30px;
    margin: 0;
    color: #848282;
    clear: both; }
  /* line 188, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal p {
    font-family: denseregular;
    font-size: 30px;
    color: #848282;
    margin-bottom: 0;
    line-height: 85%; }
  /* line 195, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal .bottom {
    margin: 20px; }
  /* line 198, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal input, #booking-modal select {
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 7px;
    line-height: 40px;
    font-family: denseregular;
    font-size: 25px;
    color: #848282;
    border-radius: 0 !important; }
    /* line 211, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #booking-modal input.expire-left, #booking-modal select.expire-left {
      float: left;
      width: 45%; }
    /* line 215, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #booking-modal input.expire-right, #booking-modal select.expire-right {
      float: right;
      width: 45%; }
  /* line 220, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal .border-left {
    border-left: 2px solid #55BEB9; }
  /* line 223, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal .card-info-container {
    margin: 20px;
    margin-top: 30px;
    padding: 20px;
    background-color: #E7E7E7; }
  /* line 229, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal .booking-info-container {
    padding: 20px;
    height: 550px; }
    /* line 232, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #booking-modal .booking-info-container h2 {
      font-family: denseregular;
      font-size: 40px;
      margin: 0;
      color: black;
      margin-bottom: 30px; }
    /* line 239, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #booking-modal .booking-info-container img {
      float: left;
      height: 25px;
      width: 25px; }
    /* line 244, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #booking-modal .booking-info-container div {
      margin-bottom: 30px; }
    /* line 247, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #booking-modal .booking-info-container .p-margin {
      margin-right: 25px; }
  /* line 251, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal .success-view {
    min-height: 300px; }
    /* line 253, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #booking-modal .success-view h1 {
      margin: 30px !important;
      font-family: denseregular;
      font-size: 80px;
      margin: 0;
      margin-left: 5px;
      color: #55BEB9 !important;
      text-align: center; }
    /* line 262, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #booking-modal .success-view h2 {
      font-family: denseregular;
      font-size: 30px !important;
      margin: 0;
      color: #848282;
      text-align: center !important; }
      /* line 268, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #booking-modal .success-view h2:last-child {
        margin-bottom: 30px !important; }

/* line 275, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
#main-view .landing-view .landing-background {
  position: relative; }
  /* line 277, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view .landing-view .landing-background h1 {
    font-size: 92px;
    color: #55BEB9; }
    /* line 280, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view .landing-view .landing-background h1 mark.white {
      color: white;
      background: none;
      padding: 0; }
    /* line 285, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view .landing-view .landing-background h1 mark.black {
      color: black;
      background: none;
      padding: 0; }
  /* line 291, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view .landing-view .landing-background img {
    position: absolute;
    width: 100%;
    height: auto; }
  /* line 296, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view .landing-view .landing-background div.innerbox {
    width: 100%;
    text-align: center;
    padding-top: 4%;
    position: absolute;
    z-index: 7; }
    /* line 302, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view .landing-view .landing-background div.innerbox .input-row {
      height: 70px;
      margin-left: 30%;
      margin-top: 5%;
      width: 40%;
      background: white;
      padding: 10px; }
      /* line 309, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #main-view .landing-view .landing-background div.innerbox .input-row input {
        float: left;
        width: 49%;
        height: 50px;
        padding-left: 7px;
        line-height: 40px;
        margin-right: 2%;
        font-family: denseregular;
        font-size: 25px;
        color: #848282; }
      /* line 322, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #main-view .landing-view .landing-background div.innerbox .input-row ::-webkit-input-placeholder {
        text-align: center;
        font-style: normal;
        font-size: 33px; }
      /* line 327, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #main-view .landing-view .landing-background div.innerbox .input-row button {
        width: 49%;
        float: left; }

/* line 336, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
#main-view #search-view {
  margin-top: 20px;
  margin-bottom: 64px; }
  /* line 339, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #search-view .tab-pane {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 350px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px black;
    border-radius: 0;
    text-align: center;
    padding: 30px;
    padding-top: 15px;
    margin-right: 3px; }
    /* line 351, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #search-view .tab-pane p {
      text-align: left;
      font-size: 26px; }
      /* line 354, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #main-view #search-view .tab-pane p:last-child {
        margin-bottom: 0; }
  /* line 359, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #search-view .nav-tabs.nav {
    margin-left: 9px; }
    /* line 361, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #search-view .nav-tabs.nav li.active > a:link {
      border-radius: 0;
      border-left: 1px solid #848282;
      border-top: 1px solid #848282;
      border-right: 1px solid #848282;
      color: #848282; }
    /* line 368, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #search-view .nav-tabs.nav li {
      font-size: 30px; }
    /* line 371, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #search-view .nav-tabs.nav li a {
      color: #FFFFFF;
      padding: 0;
      padding-left: 10px;
      padding-right: 10px; }
  /* line 378, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #search-view .nav-tabs > li {
    float: right; }
  /* line 381, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #search-view .shop-preview {
    cursor: pointer;
    background-color: #E7E7E7;
    border: 10px solid #FFFFFF; }
    /* line 386, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #search-view .shop-preview img {
      width: 100%;
      height: auto; }
    /* line 390, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #search-view .shop-preview p {
      text-align: center;
      margin: 0; }
    /* line 394, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
    #main-view #search-view .shop-preview:hover {
      background-color: black; }
      /* line 396, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
      #main-view #search-view .shop-preview:hover img {
        -webkit-filter: brightness(70%); }

/* line 403, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

/* line 407, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
input[type=date]::-webkit-calendar-picker-indicator {
  height: 18px;
  width: 18px;
  display: block; }

/* line 414, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
  display: none; }

/* line 419, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
input[type="date"] {
  -webkit-align-items: center;
  align-items: center;
  -webkit-padding-start: 3px;
  display: -webkit-inline-flex;
  display: inline-flex;
  padding-start: 3px;
  overflow: hidden;
  padding: 3px; }

@media (max-width: 1200px) {
  /* line 432, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  .button, #main-view #section-3 input, .button, #main-view #section-3 select {
    width: 160px; }
  /* line 435, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #section-2 .tab-pane {
    height: 375px; }
  /* line 438, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #section-2 .tab-pane p {
    font-size: 20px; }
  /* line 441, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view .landing-view .landing-background h1 {
    font-size: 75px; } }

@media (max-width: 990px) {
  /* line 446, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal .booking-info-container {
    height: 400px; }
  /* line 449, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #booking-modal h1 {
    text-align: center; }
  /* line 452, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #section-2 .nav-tabs.nav {
    margin-left: 0px; }
  /* line 455, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view #section-2 .tab-pane {
    margin-left: 1px; }
  /* line 458, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view .landing-view .landing-background h1 {
    font-size: 60px; }
  /* line 461, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view .landing-view .landing-background div.innerbox .input-row {
    margin-left: 25%;
    width: 50%; } }

@media (max-width: 688px) {
  /* line 467, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view .landing-view .landing-background h1 {
    font-size: 40px; }
  /* line 470, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
  #main-view .landing-view .landing-background div.innerbox .input-row {
    margin-left: 10%;
    width: 80%; } }

/* Absolute Center CSS Spinner */
/* line 476, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
.loading {
  position: fixed;
  z-index: 9999999999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Transparent Overlay */
/* line 490, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

/* :not(:required) hides these rules from IE9 and below */
/* line 502, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

/* line 511, C:/Users/Nitad/Desktop/Dev/chophair/src/scss/styles.scss */
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0; }

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=styles.css.map */