<div id="booking-modal">
    <div ng-class="loaded ? 'hidden' : 'loading'">Loading&#8230;</div>
    <div class="row" ng-show="!success">
        <div class="row">
            <div class="col-md-12">
                <h1>Booking Confirmation</h1>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-info-container">
                    <h2>Cardholder Name</h2>
                    <input type="text" ng-model="card.name">
                    <h2>Card Number</h2>
                    <input type="text" ng-model="card.number">
                    <h2>Expiration Date</h2>
                    <select class="expire-left" ng-model="card.expire_month">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <select class="expire-right" ng-model="card.expire_year">
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                    </select>
                    <h2>cvv/cvc</h2>
                    <input type="text" ng-model="card.cvc">
                    <h2>Email Address</h2>
                    <input type="text" ng-model="card.email">
               </div>
            </div>
            <div class="col-md-6 border-left">
                <div class="booking-info-container">
                    <h2>Booking Details</h2>
                    <div>
                        <p>{{shop.business_name}}</p>
                        <img src="/src/img/Geo-fence-50.png" alt="">
                        <p class="p-margin">{{shop.business_address}}</p>
                        <p>{{shop.business_number}}</p>
                    </div>
                    <div>
                        <img src="/src/img/Barber%20Scissors-50.png" alt="">
                        <p class="p-margin">{{selected_service}}</p>
                    </div>
                    <div>
                        <img src="/src/img/Calendar-50.png" alt="">
                        <p class="p-margin">{{date_for_modal}}</p>
                    </div>
                    <div>
                        <img src="/src/img/Clock-50.png" alt="">
                        <p class="p-margin">{{selected_time}}</p>
                    </div>
                    <div>
                        <img src="/src/img/money.png" alt="">
                        <p class="p-margin">£{{shop.services[selected_service]}}</p>
                    </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="button book bottom" ng-click="cancel()">BACK</button>
                <button class="button book bottom" ng-click="bookConfirm(card)">CONFIRM BOOKING</button>
            </div>  
        </div>
    </div>
    
    
    <div class="row" ng-show="success">
        <div class="col-md-2 col-sm-2 col-xs-2"></div>

        <div class="col-md-8 col-sm-8 col-xs-8">   
            <div class="success-view">
               <div class="row">
                    <div class="col-md-12">
                        <h1>Booking Complete</h1>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Your appointment at {{success.business_name}} on {{success.date}} at {{success.time}} has been booked.</h2>
                        <h2>A confirmation-email has been sent to {{success.user_email}}</h2>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="button book bottom" ng-click="forward()">OK</button>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2"></div>
    </div>
</div>