<div class="row">
    <div ng-class="loaded ? 'hidden' : 'loading'">Loading&#8230;</div>
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
    
    <div class="col-md-10 col-sm-10 col-xs-10">   
        <div class="row" id="section-1">
           <div class="col-md-12">
                <h1>{{shop.business_name}}</h1>
                <h2>{{shop.business_address}}</h2>
                <h2>{{shop.business_number}}</h2>
            </div>
        </div>
        
        <div class="row" id="section-2">
            <div class="col-md-6">
                <img id="shop-img" ng-src="{{shop.photo_link}}" imageonload="imageLoaded()">
            </div>
        
            <div class="col-md-6">
                <tabset>
                    <tab id="opening-hours" heading="Opening Hours">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                           <p ng-repeat="(day, open) in shop.opening_times">{{day}}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                           <p ng-repeat="(day, open) in shop.opening_times">{{open}}</p>
                        </div>
                    </tab>
                    <tab heading="Prices">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                           <p ng-repeat="(service, price) in shop.services">{{service}}</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                           <p ng-repeat="(service, price) in shop.services">£{{price}}</p>
                        </div>
                    </tab>
                    <tab heading="Reviews">
                        <p>This chop currently has no reviews</p>
                    </tab>
                </tabset>
            </div>
        </div>
        
        <div class="row" id="section-3">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <h2>Service</h2>
                    <select ng-model="selected_service">
                        <option ng-repeat="(key, value) in shop.services">{{key}}</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <h2>Date</h2>
                    <input type="date" min="{{today_date}}" ng-change="datePicked(booking_date)" ng-model="booking_date">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <h2>Time</h2>
                    <select ng-model="selected_time">
                        <option ng-repeat="value in time_selection" value="{{value}}">{{value}}</option>
                    </select>
                </div>
                <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-6">
                    <button ng-disabled="selected_time == 'Closed'" class="button book" ng-click="book()">BOOK</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
</div>