<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">   
        <div class="landing-view">
            <div class="landing-background">           
                <img src="/dist/img/landing-background.jpg" alt="">
                <div class="innerbox">
                    <h1>Get your haircut<mark class="white"> where you want<mark class="black"> when you want</h1>
                    <div class="input-row">
                        <input ng-model="postcode" type="text" placeholder="enter postcode" ng-enter="searchPostcode(postcode)">
                        <button class="button find" ng-click="searchPostcode(postcode)">Find your Barber</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>