<div class="row" id="search-view">
<!--    <div ng-class="loaded ? 'hidden' : 'loading'">Loading&#8230;</div>-->
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
    
    <div class="col-md-10 col-sm-10 col-xs-10">   
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-3 shop-preview" ng-repeat="shop in shops track by $index" ng-click="sendToShop(shop.profile_name)">
                        <img ng-src="{{shop.photo_link}}">
                        <p>{{shop.business_name}}</p>
                        <p>{{shop.distance}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-10 col-sm-10 col-xs-10"></div>
</div>