/* Variables */
$white: #FFFFFF;
$grey: #E7E7E7;
$green: #55BEB9;
$dark_grey: #848282;


// placeholder text to italic
::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;  
}
::-moz-placeholder {
    font-style: italic;  
}
:-ms-input-placeholder {  
    font-style: italic; 
}

/* Type Faces */
@font-face {
    font-family: denseregular;
    src: url('../font/Dense-Regular.otf');
}
body{
    height:100%;
}
#main-nav{
    height: 120px;
    background-color: $white;
    align-items: bottom;
    padding-left: 7px;
    padding-right: 7px;
    #logo{
        height: 115px;
        padding-top: 30px;
        vertical-align: bottom;
    }
    
}
#main-view{
    font-family: denseregular;
    background-color: $grey;
    height: 100%;
    div{
        padding: 0;
    }
    h1{
        font-family: denseregular;
        font-size: 60px;
        margin: 0;
        color: $dark_grey;
    }
    h2{
        font-family: denseregular;
        font-size: 40px;
        margin: 0;
        color: $dark_grey;
    }
    p{
        font-family: denseregular;
        font-size: 20px;
        color: $dark_grey;
    }
    #section-1{
        
    }
    #section-2{
        margin-bottom: 20px;
        height: 100%;
        #shop-img{
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        .tab-pane {
            overflow-y: auto;
            height: 459px;
            margin-left: 10px;
            background-color: $white;
            box-shadow: 0 0 1px black;
            border-radius: 0;
            text-align: center;
            padding: 10px;
            p{
                text-align: left;
                font-size: 26px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .nav-tabs.nav{
            margin-left: 9px;
            li.active > a:link {
                border-radius: 0;
                border-left: 1px solid $dark_grey;
                border-top: 1px solid $dark_grey;
                border-right: 1px solid $dark_grey;
                color: $dark_grey;
            }
            li{
                font-size: 30px;
            }
            li a{
                color: $white;
                padding: 0;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        
    }
    #section-3{
        margin-bottom: 50px;
        input, select{
            width: 180px;
            height: 50px;
            border: none;
            padding-left: 5px;
            
            font-family: denseregular;
            font-size: 30px;
            color: $dark_grey;
            border-radius: 0 !important; 
        }
        button{
            margin-top: 44px;
        }
        
    }
    
}
.button{
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    border:none;
    font-size: 33px;
    height: 50px;
    width: 180px;
    &[disabled] {
        opacity: 0.5 !important;;   
    }
    &.book{
        background-color: $green;
        color: $white;
    }
    &.book:hover{
        opacity:0.7; 
    }
    &.find{
        background-color: $green;
        color: black;
    }
    &.find:hover{
        opacity:0.7; 
    }
}
.form-control {
    border-radius: 0 !important;
}
.modal-content{
    border-radius: 0;
    background-color: $white;
}
#booking-modal{
    font-family: denseregular;
    padding: 10px;
    text-align: center;
    h1{
        font-family: denseregular;
        font-size: 80px;
        margin: 0;
        margin-left: 15px;
        color: $green;
        text-align: left;
    }
    h2{
        font-family: denseregular;
        font-size: 30px;
        margin: 0;
        color: $dark_grey;
        clear: both;
    }
    p{
        font-family: denseregular;
        font-size: 30px;
        color: $dark_grey;
        margin-bottom: 0;
        line-height: 85%;
    }
    .bottom{
        margin: 20px;
    }
    input, select {
        width: 100%;
        height: 40px;
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 7px;
        line-height: 40px;

        font-family: denseregular;
        font-size: 25px;
        color: $dark_grey;
        border-radius: 0 !important; 
        &.expire-left{
            float: left;
            width: 45%;
        }
        &.expire-right{
            float: right;
            width: 45%;
        }
    }
    .border-left{
        border-left: 2px solid $green;
    }
    .card-info-container{
        margin: 20px;
        margin-top: 30px;
        padding: 20px;
        background-color: $grey;
    }
    .booking-info-container{
        padding: 20px;
        height: 550px;
        h2{
            font-family: denseregular;
            font-size: 40px;
            margin: 0;
            color: black;
            margin-bottom: 30px;
        }
        img{
            float: left;
            height: 25px;
            width: 25px;
        }
        div{
            margin-bottom: 30px;
        }
        .p-margin{
            margin-right: 25px;
        }
    }
    .success-view{
        min-height: 300px;
        h1{
            margin: 30px !important;
            font-family: denseregular;
            font-size: 80px;
            margin: 0;
            margin-left: 5px;
            color: $green !important;
            text-align: center;
        }
        h2{
            font-family: denseregular;
            font-size: 30px !important;
            margin: 0;
            color: $dark_grey;
            text-align: center !important;
            &:last-child{
                margin-bottom: 30px !important;
            }
        }
    }
}
#main-view .landing-view{
    .landing-background{
        position:relative;
        h1{
            font-size: 92px;
            color: $green;
            mark.white{
                color: white;
                background: none;
                padding: 0;
            }
            mark.black{
                color:black;
                background: none;
                padding: 0;
            }
        }
        img{
            position: absolute;
            width: 100%;
            height: auto;
        }
        div.innerbox{
            width: 100%;
            text-align: center;
            padding-top: 4%;
            position: absolute;
            z-index:7;
            .input-row{
                height: 70px;
                margin-left: 30%;
                margin-top: 5%;
                width: 40%;
                background: white;
                padding: 10px;
                input{
                float: left;
                width: 49%;
                height: 50px;

                padding-left: 7px;
                line-height: 40px;
                margin-right: 2%;

                font-family: denseregular;
                font-size: 25px;
                color: $dark_grey;
                }
                ::-webkit-input-placeholder {
                    text-align: center;
                    font-style: normal;
                    font-size: 33px;
                }
                button{
                    width: 49%;
                    float:left;
                }
            }
        }
    }
}

#main-view #search-view{
    margin-top: 20px;
    margin-bottom: 64px;
    .tab-pane {
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 350px;
//        margin-left: 10px;
        background-color: $white;
        box-shadow: 0 0 1px black;
        border-radius: 0;
        text-align: center;
        padding: 30px;
        padding-top: 15px;
        margin-right: 3px;
        p{
            text-align: left;
            font-size: 26px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .nav-tabs.nav{
        margin-left: 9px;
        li.active > a:link {
            border-radius: 0;
            border-left: 1px solid $dark_grey;
            border-top: 1px solid $dark_grey;
            border-right: 1px solid $dark_grey;
            color: $dark_grey;
        }
        li{
            font-size: 30px;
        }
        li a{
            color: $white;
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .nav-tabs>li {
      float: right;
    }
    .shop-preview{
        cursor: pointer;
        background-color: $grey;
        border: 10px solid $white;
//        border: 1px solid $green;
        img{
            width: 100%;
            height: auto;
        }
        p{
            text-align: center;
            margin: 0;
        }
        &:hover{
            background-color: black;
            img{
                -webkit-filter: brightness(70%);
            }
        }
    }
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    //    color: $lightblue;
    //    background: orange;
    height: 18px;
    width: 18px;
    display: block;
}
input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

input[type="date"] {
    -webkit-align-items: center;
    align-items: center;
    -webkit-padding-start: 3px;
    display: -webkit-inline-flex;
    display: inline-flex;
    //     font-family: monospace;
    padding-start: 3px;
    overflow: hidden;
    padding: 3px;
}

@media (max-width: 1200px) {
    .button, #main-view #section-3 input, .button, #main-view #section-3 select{
        width: 160px;
    }
    #main-view #section-2 .tab-pane{
        height: 375px;
    } 
    #main-view #section-2 .tab-pane p{
        font-size: 20px;
    }
    #main-view .landing-view .landing-background h1{
        font-size: 75px;
    }
}
@media (max-width: 990px){
    #booking-modal .booking-info-container{
        height: 400px;
    }
    #booking-modal h1{
        text-align: center;
    }
    #main-view #section-2 .nav-tabs.nav{
        margin-left: 0px;
    }
    #main-view #section-2 .tab-pane{
        margin-left: 1px;
    }
    #main-view .landing-view .landing-background h1{
        font-size: 60px;
    }
    #main-view .landing-view .landing-background div.innerbox .input-row{
        margin-left: 25%;
        width: 50%;
    }
}
@media (max-width: 688px){
    #main-view .landing-view .landing-background h1{
        font-size: 40px;
    }
    #main-view .landing-view .landing-background div.innerbox .input-row{
        margin-left: 10%;
        width: 80%;
    }
}
/* Absolute Center CSS Spinner */
.loading {
  position: fixed;
  z-index: 9999999999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
